* {
	margin: 0;
}

body {
	background-image: url("../img/bg.jpg")
}

main {
	background-color: #dedad3;
	margin: 0 auto;
	width: 1000px;	
}

a {
	text-decoration: none;
}

.title-section {
	border-top: 4px solid #62493d;
	border-bottom: 1px solid #62493d;
	padding: 16px 0;
	
}

.wrapper {
	margin: 0 auto;
	width: 940px;
}