table {
	background-color: tomato;
	border-collapse: collapse;
}

td {
	width: 75px;
	height: 75px;

}

tr:nth-child(odd) td:nth-child(even) {

		background-color: #000;	


}

tr:nth-child(even) td:nth-child(odd) {

		background-color: #000;	


}
